---
layout: default
section_id: home
title: Enhance Your Procurment with Us...
image: /images/mark.jpg

custom_js:
  - masonry.pkgd
  - imagesloaded.pkgd.min
  - slick.min
  - jquery.appear
  - jquery.validate
  - form-validate
  - parallax.min

clients:

  - img: /images/clients/securitytitle.svg
    alt: Security Title Agency
    url: http://securitytitle.com/
  - img: /images/clients/colorroom.svg
    alt: Color Room Films
    url: http://colorroomfilms.com/
  - img: /images/clients/digitaliso.svg
    alt: DigitalISO
    url: http://digitaliso.com/
  - img: /images/clients/altitude.svg
    alt: Altitude Productions
    url: http://altitudeproductionstudio.com/
  - img: /images/clients/remax.svg
    alt: ReMax
    url: http://remax.com/
  - img: /images/clients/yjsw.svg
    alt: Your Jersey Shore Wedding
    url: http://yourjerseyshorewedding.com/
  - img: /images/clients/tequa.svg
    alt: Tequa Builders
    url: http://tequabuilders.com/
  - img: /images/clients/verde.svg
    alt: Verde Vintage & Thrift
    url: http://verdevintageaz.com/
---
<style type="text/css">
  .modMasonryGallery ul.gallery li.wide {
    width: 33% !important;
  }
</style>

<div id="home-hero" class="parallax-window" data-parallax="scroll" data-image-src="/images/pages/chome1.jpg">
  <div class="hero-text">
    <h1>{{ page.title }}</h1>
    <p>
        <strong>Trusted</strong>  and <strong>reputed</strong>  company in procuring and supplying of products.
    </p>
  </div>
</div>

<div id="home-callout" class="full" style="padding: 140px 0 120px 0;">
  <div class="row">
    <div class="large-12 columns">
      <h2 class="text-center" style="color: #333">we handling - <strong>procuring</strong> & supplying of <strong>products</h2>
      <p class="text-center">
          We believe in long term business relationship and great customer service and work towards the same.
           In doing so we offer special offers and services that are provided by our trusted suppliers and product manufactures.
      </p>
    </div>
  </div>
</div>

<div id="home-callout-text" class="full parallax-window" style="padding: 140px 0 120px 0;" data-parallax="scroll" data-image-src="{{site.baseurl}}/images/pages/home2.jpg">
  <div class="row">
    <div class="small-12 columns">
      <h3>
          Dar Al Falah General Trading...
      </h3>
      <p>
          We are trusted and reputed company in UAE for procuring and supplying of products like <strong> Banding tapes, Packaging items, Lanyard, badge reel, 
          access card, Promotional and gift products ,Electronics and IT accessories, Office stationeries, Printing stationeries, stickers, labels, booklets, paper rolls...</strong> all products at competitive pricing with the added benefit of a customer friendly environment.
      </p>
      <h3>
        Full transparency
      </h3>
      <p>
        Most of our competitors will try to upsell you on your requirments 
        - we believe in honest client interactions and will always keep your best interests in mind.
        We believe in long term business relationship and great customer service and work towards the same. In doing so we offer special offers
         and services that are provided by our trusted suppliers and product manufactures.
      </p>
      <h3>
        Our commitment
      </h3>
      <p>Inustries resources allow Dar Al Falah to obtain superior products and materials at the lowest prices while always maintaining the highest quality and standards. This on going commitment maintaining solid 
        client relationships is what allows ‘DAF’ to be the most trusted name in the industry.</p>
      <h3>
        Ready to learn more?
      </h3>
      <div class="row">
        <div class="small-12 medium-5 columns">
          <a class="cta" href="{{ site.baseurl }}/services/" title="View our services page to see more">
            <button class="hollow extended white" style="margin: 0;">See what we can do for you.</button>
          </a>
        </div>
        <div class="small-12 medium-2 columns">
          <p class="text-center" style="margin: 10px 0;">
            OR
          </p>
        </div>
        <div class="small-12 medium-5 columns">
          <a class="cta" href="{{ site.baseurl }}/contact/" title="Contact us!">
            <button class="extended white" style="margin: 0;">Call, text or email us!</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full" style="padding: 140px 0 120px 0;">
  <div class="row">
    <div class="large-12 columns">
      <h2 class="text-center" style="color: #333">Let's face it, you came to see our work</h2>
      <p class="text-center">
        Here are a few of our recent projects. If you like what you see, <a href="{{ site.baseurl }}/portfolio/" title="View our portfolio for more samples of our work!">head over to our portfolio</a> for more!
      </p>
    </div>
  </div>
</div>

<div class="mod modMasonryGallery">
  <ul class="gallery">
    {% assign items = site.products | sort: 'date' | reverse %}
    {% for item in items limit: 8 %}
      <li class="wide">
        <a href="{{item.url}}" title="View a case study on: {{item.title}}">
          <img alt="{{item.title}}" src="{{item.thumbnail}}" />
          <div class="overlay">
            <div class="thumb-info">
              <h3>{{item.project}}</h3>
              <p>{{item.description | truncate: 140, '... [Read More]'}}</p>
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="full">
  <div class="row">
    <div class="large-12 columns">
      <h3>Recent Clients:</h3>
      <div class="spacing"></div>
      <div class="mod modClients" data-slides_to_show="5">
        <div class="clients">
          {% for client in page.clients %}
            <div><a href="{{client.url}}" title="Visit the {{client.alt}} website"><img alt="{{client.alt}} Logo" src="{{client.img}}" /></a></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="four spacing"></div>
</div>

<div class="full" style="padding: 140px 0 120px 0;">
  <div class="row">
    <div class="large-12 columns">
      <h2 style="color: #333;text-align: center;margin-bottom:60px;">
        Curious what we can do for you? <br />
        <small>Send us a message!</small>
      </h2>
      <div class="medium-12 columns">
        {% include contactform.html %}
      </div>
    </div>
  </div>
</div>
