---
layout: default
section_id: home
title: Don't settle for mediocre
image: /images/mark.jpg

custom_js:
  - masonry.pkgd
  - imagesloaded.pkgd.min
  - jquery.appear
  - jquery.validate
  - form-validate
  - parallax.min
---
<style type="text/css">
  .modMasonryGallery ul.gallery li.wide {
    width: 25% !important;
  }
</style>

<div id="home-hero" class="parallax-window" data-parallax="scroll" data-image-src="/images/pages/home1.jpg">
  <div class="hero-text">
    <h1>{{ page.title }}</h1>
    <p>
      We develop <strong>bold</strong> websites for <strong>bold</strong> brands.
    </p>
  </div>
</div>

<div id="home-callout" class="full" style="padding: 140px 0 120px 0;">
  <div class="row">
    <div class="large-12 columns">
      <h2 class="text-center" style="color: #333">Design & Development - Built for YOU</h2>
      <p class="text-center">
         Creating your company's website is about building your brand. <strong>We build brands</strong> for companies who want to create meaningful relationships with their clients.
      </p>
    </div>
  </div>
</div>

<div id="home-callout-text" class="full parallax-window" style="padding: 140px 0 120px 0;" data-parallax="scroll" data-image-src="{{site.baseurl}}/images/pages/home2.jpg">
  <div class="row">
    <div class="small-12 columns">
      <h3>
        We get it, hiring a web developer or designer can be scary
      </h3>
      <p>
        Do you own a small business without much capital to spend and you're not sure whether hiring a professional is worth it? Already have a Wix, Squarespace or GoDaddy website and you're already making your own promotional materials, but you want to step up your game and you're confused about how much value a professional can add to your business? Maybe you just don't understand the process and you're scared of the unknown? We want our clients to be as comfortable with us as possible. If you're on the fence about hiring a professional (<strong>don't worry - you're not alone!</strong>), we're always here to talk!
      </p>
      <h3>
        Full transparency
      </h3>
      <p>
        Most of our competitors will try to upsell you on extras you probably don't need or won't need for years to come. They'll purposely use industry jargon to confuse you because they know you're not well enough informed on the topic to say no. <strong>If we don't think you need it, we won't try to sell it to you.</strong> It's that simple - we believe in honest client interactions and will always keep your best interests in mind. Confused by something we might say? Ask and we'll be glad to explain!
      </p>
      <h3>
        Ready to learn more?
      </h3>
      <div class="row">
        <div class="small-12 medium-5 columns">
          <a class="cta" href="{{ site.baseurl }}/services/" title="View our services page to see more">
            <button class="hollow extended white" style="margin: 0;">See what we can do for you.</button>
          </a>
        </div>
        <div class="small-12 medium-2 columns">
          <p class="text-center" style="margin: 10px 0;">
            OR
          </p>
        </div>
        <div class="small-12 medium-5 columns">
          <a class="cta" href="{{ site.baseurl }}/contact/" title="Contact us!">
            <button class="extended white" style="margin: 0;">Call, text or email us!</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="full" style="padding: 140px 0 120px 0;">
  <div class="row">
    <div class="large-12 columns">
      <h2 class="text-center" style="color: #333">Let's face it, you came to see our work</h2>
      <p class="text-center">
        Here are a few of our recent projects. If you like what you see, <a href="{{ site.baseurl }}/portfolio/" title="View our portfolio for more samples of our work!">head over to our portfolio</a> for more!
      </p>
    </div>
  </div>
</div>

<div class="mod modMasonryGallery">
  <ul class="gallery">
    {% assign items = site.portfolio | sort: 'date' | reverse %}
    {% for item in items limit: 8 %}
      <li>
        <a href="{{item.url}}" title="View a case study on: {{item.title}}">
          <img alt="{{item.title}}" src="{{item.thumbnail}}" />
          <div class="overlay">
            <div class="thumb-info">
              <h3>{{item.project}}</h3>
              <p>{{item.description | truncate: 140, '... [Read More]'}}</p>
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="full" style="padding: 140px 0 120px 0;">
  <div class="row">
    <div class="large-12 columns">
      <h2 style="color: #333;text-align: center;margin-bottom:60px;">
        Curious what we can do for you? <br />
        <small>Send us a message!</small>
      </h2>
      <div class="medium-12 columns">
        {% include contactform.html %}
      </div>
    </div>
  </div>
</div>
