<div class='full no-padding'>
  <div class='fullwidth' id='footer'>
    <div class='three spacing'></div>
      <p class='copyright'>©{{ 'now' | date: "%Y" }} {{site.title}}. All rights reserved.</p>
    <div class='two spacing'></div>
  </div>
</div>

<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/parallax.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>