<head>
  <!-- Basic Meta Tags -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicons & App Icons -->

    <link rel="icon" type="image/x-icon" href="{{site.baseurl}}/images/icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/images/icons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/images/icons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/images/icons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/images/icons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/images/icons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/images/icons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/images/icons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/images/icons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/images/icons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="{{site.baseurl}}/images/icons/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/images/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/images/icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/images/icons/favicon-16x16.png" />
    <link rel="manifest" href="{{site.baseurl}}/images/icons/manifest.json" />
    <meta name="msapplication-TileImage" content="{{site.baseurl}}/images/icons/ms-icon-144x144.png">

  {% seo %}

  <!-- CSS -->

    <link rel="stylesheet" href="{{ '/css/foundation.css' | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ '/css/style.css' | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ '/css/fontello.css' | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ '/css/font-awesome.css' | prepend: site.baseurl }}" />

  <!-- Fonts -->

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,300" media="screen" rel="stylesheet" type="text/css" />

  <!-- Misc -->

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed/' | prepend: site.baseurl | prepend: site.url }}" />

  <!-- App bar color -->

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#F9CE06">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#F9CE06">
    <meta name="msapplication-TileColor" content="#F9CE06">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#F9CE06">

  {% include analytics.html %}
</head>
