<h3>Share this:</h3>
<div class="share-box">
   <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="share-button facebook" title="Share this on Facebook" target="_blank">
  		<i class="fa fa-facebook" aria-hidden="true"></i>
  	</a>

   <a href="https://twitter.com/intent/tweet?text={{ page.client }}-{{ page.project }}&url={{ site.url }}{{ page.url }}" class="share-button twitter" title="Share this on Twitter" target="_blank">
  	   <i class="fa fa-twitter" aria-hidden="true"></i>
  	</a>

   <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="share-button google-plus" title="Share this on Google+" target="_blank">
      <i class="fa fa-google-plus" aria-hidden="true"></i>
   </a>

   <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}" class="share-button reddit" title="Share this on Reddit" target="_blank">
      <i class="fa fa-reddit" aria-hidden="true"></i>
   </a>

   <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.client }}-{{ page.project }}&summary={{ page.description }}&source=DinsmoreDesign" class="share-button linkedin" title="Share this on LinkedIn" target="_blank">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
   </a>

   <a href="mailto:?subject={{ page.client }}-{{ page.project }}&body=Check this out: {{ site.url }}{{ page.url }}" class="share-button mail" title="Share this via email" target="_blank">
      <i class="fa fa-envelope" aria-hidden="true"></i>
   </a>
</div>
