<h3>Share this:</h3>
<div class="share-box">
   <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" onclick="window.open(this.href); return false;" class="share-button facebook" title="Share this on Facebook">
  		<i class="fa fa-facebook" aria-hidden="true"></i>
  	</a>

   <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" onclick="window.open(this.href; return false;" class="share-button twitter" title="Share this on Twitter">
  	   <i class="fa fa-twitter" aria-hidden="true"></i>
  	</a>

   <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" onclick="window.open(this.href; return false;" class="share-button google-plus" title="Share this on Google+">
      <i class="fa fa-google-plus" aria-hidden="true"></i>
   </a>

   <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}" onclick="window.open(this.href; return false;" class="share-button reddit" title="Share this on Reddit">
      <i class="fa fa-reddit" aria-hidden="true"></i>
   </a>

   <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source=DinsmoreDesign" onclick="window.open(this.href; return false;" class="share-button linkedin" title="Share this on LinkedIn">
      <i class="fa fa-linkedin" aria-hidden="true"></i>
   </a>

   <a href="mailto:?subject={{ page.title }}&amp;body=Check this out: {{ site.url }}{{ page.url }}" class="share-button mail" title="Share this via email">
      <i class="fa fa-envelope" aria-hidden="true"></i>
   </a>
</div>
