---
layout: blog
section_id: blog_post
---

<div id="post-hero" style="background-image: url( {{ page.image }} )"></div>

<div class='full' style='background: #333; padding: 40px 0 20px 0;'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2 style='color: #fff;'><a href="/blog">Blog</a> | {{ page.title }}</h2>
      <p class='info'>
        <span>{{page.date | date: "%B %d, %Y" }}</span>
        /
        <span>
          by
          <a href="/about" title="Learn more about our business and authors">{{page.author}}</a>
        </span>
        <!-- /
        <span>
          In
          {% for cat in page.categories %}
            <a href="#">{{cat}}</a>
            {% unless forloop.last %}
                ,
            {% endunless %}
          {% endfor %}
        </span>
        /
        <span>
          <a href="#comments">4 comments</a>
        </span> -->
      </p>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBlogPost big no_bg'>
        <div class='content'>
          {{ content }}
        </div>
      </div>
      <div class='four spacing'></div>
      {% include disqus.html %}
      <div class='four spacing'></div>
    </div>
  </div>
</div>